# MongoDB Atlas Connection - Ready for Netlify
MONGO_URI=mongodb+srv://priyankavishnupriyanka_db_user:9566511896@cluster0.yclyb7s.mongodb.net/skillswap?retryWrites=true&w=majority
JWT_SECRET=skillswap_secret_key_12345
PORT=5000
